h1{
  font-size: 32px;
  color: #333333;
  font-family: "source-sans-3", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    font-size: 24px;
  }
}
h2{
  font-size: 28px;
  color: #333333;
  font-family: "source-sans-3", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}
h3{
  font-size: 24px;
  color: #333333;
  font-family: "source-sans-3", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    font-size: 16px;    
  }
}

h4{
  font-size: 20px;
  color: #333333;
  font-family: "source-sans-3", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    font-size: 12px;
  }

}
p{
  color: #333333;
  font-family: "source-sans-3", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  
  // スマホレイアウト
  @media screen and (max-width: 768px){
    font-size: 16px;
  }
}

html {
  scroll-behavior: smooth;
}

// ヘッダーここから
.header {
  margin-left: 9.3%;  // padding-left ではなく margin に
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;   /* 追加 */
  padding-right: 9.3%;
  // スマホレイアウト
  @media screen and (max-width: 768px){
    all: unset; /* すべてのプロパティをリセット */
  }

  // ナビゲーション
  > nav {
    flex-grow: 1;
    // スマホレイアウトの際には非表示にする
    @media screen and (max-width: 768px){
      display: none;
    }

    > ul {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      padding: 0;

      > li {
        margin-right: 20px;
      }
    }
  }
}


// ナビゲーション・リンクホバー時
/* 方法① シンプルに下線を表示させる場合 */
.header nav ul li a:hover {
  text-decoration: underline;
}

// 店名ロゴ・スマホレイアウト
.shop-logo-layout{
  @media screen and (max-width: 768px){
   display: flex;
   justify-content: center; /* 横方向に中央揃え */
   flex: 1;                  /* スペースを均等に確保（必要に応じて） */
  }
}
.shop-logo-header {
  @media screen and (max-width: 768px){
    display: block;
    margin: 0 auto;  
  }
}

// ハンバーガーメニューボタン
#bt-hamburger{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
    position: fixed;
    top: 15px;
    left: 4.7%;  
    z-index: 90; 
  }
}

// ナビゲーション閉じるボタン
#bt-close{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
    position: fixed;
    top: 15px;
    left: 4.7%; 

  }
}

// ナビゲーション・SP用
#nav-sp{
  display: none;
  @media screen and (max-width: 768px){
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100vw;  /* 画面幅いっぱい */
    height: 100vh;
    display: none;
    z-index: 99;
  }
}

// ナビゲーションリスト・SP用
.nav-sp-list{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
    padding-left: 4.7%;
    padding-right: 4.7%;
    padding-top: 150px;

    >ul >li{
      padding: 20px 35.6% 20px 7.1%;
      font-family: "Axiforma";
      font-size: 20px;
      border-top-width: 1px;
      border-top-color: #0047AB;
      border-top-style: solid;
 
      a:hover{
        text-decoration: underline;
      }
    }
  }
}

.menu-sp-bottom{
  @media screen and (max-width: 768px){
    border-bottom-width: 1px;
    border-bottom-color: #0047AB;
    border-bottom-style: solid;    
  }
}

// 「在宅クリーニング」ホバー時に出現するメニューリスト
.nav-more{
  display: none;
  position: absolute;
  top: 65px;
  width: 85%;
  height: 100vh;
  background-color: #0047AB;
  color: #FFFAFA;
  z-index: 99;
  border-radius: 10px;
  padding: 50px;

    // ホバーしたままでも表示を維持
    &:hover {
      display: block;
    }
  
}



.list-top, .list-bottom{
  display: flex;
  margin-bottom: 50px;
  gap: 10%;
}

// ＞空室クリーニング
.list-01-first, .list-03-first{
  margin-bottom: 50px;
  >h3{
    color: #FFFAFA;
  }
  >a{
    display: block;
    margin: 4px 0; /* 上下の間隔を少し空ける（お好みで） */
  }
}

// ＞エアコンのお掃除
.list-01-second, .list-02, .list-03, .list-03-second, .list-04{
  display: block;
  >h3{
    color: #FFFAFA;
  }
  >a{
    display: block;
    margin: 4px 0; /* 上下の間隔を少し空ける（お好みで） */
  }
}

// ヘッダーここまで


// トップ画像
.top-photo-carousel{
  display: flex; /* フレックスコンテナに設定 */
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え（必要に応じて） */
}
.top-photo-carousel img {
  display: block; /* 画像がインライン要素ではなくブロック要素として扱われるようにする */
  margin: 0 auto;
  width: 100%;
}


// セパレートライン・共通
.line-separation-section{
  display: flex; /* フレックスボックスを使用 */
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え（必要に応じて） */
  padding-top: 100px;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    padding-top: 50px;
    padding-left: 4.7%;
    padding-right: 4.7%;
  }
}

.line-separation{
  display: block; /* 画像をインラインではなくブロック要素にする */
  max-width: 100%; /* 画像のサイズを親要素に合わせる */
}

// タイトル・共通
.title-01{
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

// お店の想いここから
// お店の想い・テキスト
.strong-point-text{
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    padding-left: 4.7%;
    padding-right: 4.7%;    
  }
}

// 名前＋顔写真
.name-and-photo{
  display: flex;
  justify-content: flex-end; /* 水平方向に右揃え */
  align-items: center; /* 垂直方向に中央揃え（オプション） */
  padding-top: 75px;
  padding-right: 20%;
}

.name-and-photo h3 {
  margin-right: 10px; /* 画像との間にスペースを作る（必要に応じて調整） */
}

// PC用顔写真
.name-and-photo-pc{
  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }
}

// SP用顔写真
// PCレイアウトのときには非表示にする

// お店の想いここまで


// サービス一覧ここから
// 切り替えボタンレイアウト
.bt-switching-elements{
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    padding-left: 4.7%;
    padding-right: 4.7%;
    .button-text{
      font-size: 20px;
    }
  }
}

// 切り替えボタン・押されていない状態
.bt-switching{
  background-color: #87CEEB;
  width: 50%;
  border-radius: 10px 10px 0 0;
  padding-top: 20px;
  padding-bottom: 20px;
  >p{
    color: #FFFAFA;
    font-size: 24px;
  }
}

// 切り替えボタン・押されている状態
.bt-switching.active{
  width: 50%;
  background-color: #0047AB;
}

.service-list {
  display: none;
}
.service-list.show {
  display: block;
}


// 「一覧から探す」ここから
// サービス一覧・1段目
.service-elements-1st{
  display: flex;
  justify-content: center;
  gap: 20px; /* カード同士の間隔 */
  max-width: 1000px; /* レイアウトの最大幅を制限 */
  margin: 0 auto; /* 中央寄せ */
  flex-wrap: wrap; /* スマホなどで折り返し可能に */
  padding: 0 16px; /* 画面端に余白（スマホ対策） */
}

// サービス一覧・2段目
.service-elements-2nd{
  display: flex;
  justify-content: center;
  gap: 20px; /* カード同士の間隔 */
  max-width: 1000px; /* レイアウトの最大幅を制限 */
  margin: 50px auto; /* 中央寄せ */
  flex-wrap: wrap; /* スマホなどで折り返し可能に */
  padding: 0 16px; /* 画面端に余白（スマホ対策） */
}

// サービス一覧・3段目
.service-elements-3rd{
  display: flex;
  justify-content: center;
  gap: 20px; /* カード同士の間隔 */
  max-width: 1000px; /* レイアウトの最大幅を制限 */
  margin: 50px auto; /* 中央寄せ */
  flex-wrap: wrap; /* スマホなどで折り返し可能に */
  padding: 0 16px; /* 画面端に余白（スマホ対策） */
}

// サービス一覧・4段目
.service-elements-4th{
  display: flex;
  justify-content: center;
  gap: 20px; /* カード同士の間隔 */
  max-width: 1000px; /* レイアウトの最大幅を制限 */
  margin: 0 auto; /* 中央寄せ */
  flex-wrap: wrap; /* スマホなどで折り返し可能に */
  padding: 0 16px; /* 画面端に余白（スマホ対策） */
}

// 「詳細を見る」ボタン
.bt-more-service-layout{
  display: flex;
  justify-content: center;
  margin-top: 100px; /* 適宜調整 */
  margin-bottom: 100px;
}
.bt-more-service {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF5B7;
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
}
// 「一覧から探す」ここまで

// 「お悩み・ご要望別」ここから
.worries-titile{
  margin-top: 50px;
  margin-left: 19%;
  font-weight: bold;
  color: #0047AB;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    margin-left: 4.7%;
  }
}
// 各セクションごとのレイアウト
.service-elements{
  display: flex;
  justify-content: center;
  margin-top: 35px; /* 適宜調整 */
  margin-bottom: 100px;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    display: block;
  }
}

.worries-photo{
  // スマホレイアウト
  @media screen and (max-width: 768px){
    display: block;
    width: 90%;
    margin-left: 4.7%;
  }
}
.worries-photo-2nd-line{
  display: block;
  margin-left: 19%;
  margin-bottom: 100px;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    margin-left: 4.7%;
    width: 90%;
  }
}
// サービス一覧ここまで



// お客様の声ここから
// 口コミ画像（PC用）
.voice-photo{
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* 必要なら余白調整 */
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }
}

// 口コミ画像（スマホ用）
.voice-photo-sp{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
// お客様の声ここまで


// ご利用の流れここから
// 画像（PC用）
.flow-photo{
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
  margin-top: 20px; /* 必要なら余白調整 */
  margin-left: auto;
  margin-right: auto;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    display: block;
    text-align: center;

    .flow-photo-sp{
      margin-bottom: 50px;
    }
  }
}
// ご利用の流れここまで


// よくあるご質問ここから
// 全体レイアウト
.faq-layout{
  padding-left: 16.8%;
  padding-right: 16.8%;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    padding-left: 4.7%;
    padding-right: 4.7%;
    
  }
}

// トグルボタン
.toggle-button{
  background-color: #D3D3D3;
  width: 100%;
  border-radius: 4px;
  padding: 20px 50px;
  margin-bottom: 35px;
}

// クエスチョン部分
.faq-title{
  @media screen and (max-width: 768px){
    font-size: 16px;
  }
}

.toggle-button-text{
  display: flex;
}

// アンサー部分
.toggle-content{
  margin: 50px;
}

.ansswer-text{
  font-size: 12px;
}

// ＋マーク
.toggle-icon {
  margin-left: 100px; /* テキストとアイコンの間にスペースを追加 */
  vertical-align: middle; /* 垂直方向に中央揃え */
}

// よくあるご質問ここまで


// 主な営業エリアここから
// 全体レイアウト
.area-layout{
  padding-left: 16.8%;
  padding-right: 16.8%;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    padding-left: 4.7%;
    padding-right: 4.7%;    
  }
}

// 説明文
.area-text{
  text-align: center;
  margin-bottom: 75px;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    font-size: 12px;
  }
}
// 主な営業エリアここまで


// お問い合わせここから
// 全体レイアウト

// 説明文
.contact-text{
  text-align: center;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    font-size: 12px;
  }
}

// 友だち追加ボタン
.bt-friends-layout{
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;
}

// お問い合わせフロー画像
// PC用
.contact-elements{
  display: block; /* インライン要素をブロック要素に変える */
  margin-left: auto;
  margin-right: auto; /* 左右のマージンを自動に設定し、中央揃えに */

  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }
}
// SP用
.contact-elements-sp{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
  }
}

// お問い合わせここまで


// 注意事項ここから
// 画像（PC用）
.precautions-photo{
  display: block; /* インライン要素をブロック要素に変える */
  margin-left: auto;
  margin-right: auto; /* 左右のマージンを自動に設定し、中央揃えに */

  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }
}

// 画像（スマホ用）
.precautions-photo-sp{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
    margin-left: auto;
    margin-right: auto; /* 左右のマージンを自動に設定し、中央揃えに */    
  }
}
// 注意事項ここまで


// ページTOPに戻るボタン・PC用
.bt-pagetop{
  position: fixed;
  right: 50px;
  bottom: 50px;

  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }
}

// ページTOPに戻るボタン・SP用
.bt-pagetop-sp{
  display: none;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    display: block;
    position: fixed;
    right: 10px;
    bottom: 75px;
  }
}


// フッターここから
.footer{
  background-color: #0047AB;
  color: #FFFAFA;
  width: 100%;
  margin-top: 100px;
}

// 全体レイアウト
.footer-layout{
  display: flex;
  gap: 15%;
  padding-top: 100px;
  padding-left: 9.7%;
  padding-right: 9.7%;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 4.7%;
    padding-right: 4.7%;
  }
}

.icon-and-copyright{
  display: flex;
}

// 店名ロゴ
.shop-logo-footer{
  border-radius: 10px;
  max-width: 200px;

  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }
}

// SNSアイコン・PC用
.sns-icon{
  display: flex;
  margin-top: 35px;
  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }
}

// SNSアイコン・SP用用
.sns-icon-sp{
  display: none;
  @media screen and (max-width: 768px){
    display: flex;
    gap: 15%;
  }
}
.icon-instagram{
  margin-right: 3%;
}

// ナビゲーション
.footer-nav{
  display: flex;
  margin-top: 65px;

  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }

  >ul{
    display: flex; /* ulをフレックスコンテナに */
    list-style: none; /* デフォルトのリストスタイルを削除 */
    margin: 0; /* マージンをリセット */
    padding: 0; /* パディングをリセット */

    >li{
      margin-right: 20px; /* li間のスペースを調整（最後のliには影響しない） */

    }
  }

}

// コピーライト・PC用
.copyright{
  color: #FFFAFA;
  text-align: center;
  padding-bottom: 75px;

  // スマホレイアウト時には非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }
}

// コピーライト・SP用
.copyright-sp{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
    color: #FFFAFA;
    text-align: center;
    padding-right: 7%;
  }
}
// フッターここまで


// 個別ページここから
// タイトル部分・共通（PC用）
.big-title{
  width: 100%;

  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }
}

// （スマホ用）
.big-title-sp{
  display: none;
  @media screen and (max-width: 768px){
    display: block;    
  }
}

// パンくずリスト・共通
.breadcrumbs{
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15%;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    padding-left: 4.7%;
    flex-wrap: wrap; /* スマホで折り返しを許可 */
  }
}

// 1段目（サービス概要）・共通
// PC用
.service-1st-photo{
  max-width: 100%;
  height: auto;
  display: block;

  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }
}

// スマホ用
.service-1st-photo-sp{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
    width: 100%;
    margin: 0px auto;
  }
}


// 「その他のサービス」ボタン
.bt-others{
  display: block;
  margin: 100px auto;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    width: 90%;    
  }
}

// カルーセル写真画像
.carousel-elements{
  display: block;
  width: 50%;
  height: auto;
  margin-right: 35px;

  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    width: 100%;
    padding-top: 50px;
  }
}

// カルーセル画像（SP用）
.carousel-elements-sp{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
    position: absolute;
    left: 9%;
    bottom: 50px;
  
  }
}

// 2段目（料金表）・共通
// PC用
.service-2nd-photo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 200px auto;

  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }
}

// スマホ用
.service-2nd-photo-sp{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
    margin: 100px auto;
  }
}



// 3段目（詳しいサービス内容）・共通
// PC用
.service-3rd-photo{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 200px auto;

  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }
}

// スマホ用
.service-3rd-photo-sp{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
    margin: 100px auto;
  }
}


// 4段目（作業の流れ）・共通
// PC用
.service-4th-photo{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 200px auto;

  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }
}

// スマホ用
.service-4th-photo-sp{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
    margin: 100px auto;    
  }
}


// 5段目（作業開始までの流れ）・共通
// PC用
.service-5th-photo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 100px auto 200px auto;

  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }
}

// スマホ用
.service-5th-photo-sp{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
    margin: 100px auto;    
  }
}


// タイトル
.small-title{
  font-weight: bold;
}

// スマホレイアウト
@media screen and (max-width: 768px){
.small-title-02{
  font-size: 20px;
}  
}

// 6段目（ご予約の前に）・共通
.first-paragraph,
.second-paragraph {
  max-width: 100%;        /* お好みの幅に調整 */
  margin: 0 auto;          /* 中央揃えのポイント */
  padding: 0 20%;         /* スマホなどでも余白を保つための調整 */
  text-align: left;        /* 必要に応じて左寄せ（中央揃えしたい場合は center に） */

  // スマホレイアウト
  @media screen and (max-width: 768px){
    padding-left: 4.7%;
    padding-right: 4.7%;
  }
}

.first-paragraph{
  margin-bottom: 75px;
}

// 説明文
.explanation{
  line-height: 2;
}

.service-6th-photo{
  // PC用
  max-width: 100%;
  height: auto;
  display: block;
  margin: 100px auto 200px auto;

  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }
}

// スマホ用
.service-6th-photo-sp{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
    margin: 100px auto;     
  }
}

// 7段目（よくあるご質問）・共通
.faq-elements{
  padding-left: 20%;
  padding-right: 20%;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    padding-left: 4.7%;
    padding-right: 4.7%;
  }
}

.faq-title{
  display: flex;
  align-items: center; /* 親要素で縦方向に中央揃え */
}

// PC用画像
.service-7th-photo{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 100px auto 200px auto;

  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }
}

// スマホ用画像
.service-7th-photo-sp{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
    margin: 100px auto;     
  }
}


// 8段目（キャンセルポリシー）・共通
// PC用
.service-8th-photo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 100px auto 200px auto;

  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }
}

// スマホ用
.service-8th-photo-sp{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
    margin: 100px auto;
  }
}
// 個別ページここまで


// contact.htmlここから
// 全体レイアウト（タイトル以外）
.contact-layout{
  position: relative;

 //  スマホレイアウト
 @media screen and (max-width: 768px){
  padding-left: 4.7%;
  padding-right: 4.7%;
 }

}
// 友だち追加特典に関する説明
// PC用
.benefits-elemet{
  display: block; /* インライン要素をブロック要素に変える */
  margin: 50px auto;
  max-width: 968px;

  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }
}

// SP用
.benefits-elemet-sp{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    
  }
}


// 友だち追加ボタン
.bt-add-layout{
  position: relative;
}
.bt-add{
  position: absolute;
  top: 100px;
  left: 25%;

  @media screen and (max-width: 1300px){
    left: 23%;
  }

  @media screen and (max-width: 1000px){
    left: 15%;
  }

  @media screen and (max-width: 900px){
    left: 11%;
  }

  @media screen and (max-width: 800px){
    left: 5%;
  }

  // スマホレイアウト
  @media screen and (max-width: 768px){
    top: 95px;
    left: 18%;
    
  }
}
// contact.htmlここまで


// at-home.htmlここから
// 1段目・エアコンクリーニング
.service-first{
  margin: 100px auto;
}
.service-1st{
  position: relative;
  display: flex;
  background-color: #B3E5FC;
  border-radius: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 5%;
  margin-left: 10%;
  margin-right: 10%;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    display: block;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 4.7%;
    padding-right: 4.7%;
    margin-left: 4.7%;
    margin-right: 4.7%;
  }
}
// 「詳細を見る」ボタン
.bt-more-service-1st{
  position: absolute;
  top: 530px;
  right: 16.5%;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    width: 85%;
    top: 850px;
    right: 35px; 
    display: block; 
  }
}

// 2段目・浴室クリーニング
.service-2nd{
  position: relative;
}
// 「詳細を見る」ボタン
.bt-more-service-2nd{
  position: absolute;
  top: 530px;
  right: 16.5%;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    width: 85%;
    top: 850px;
    right: 35px;  
  }  
}

// 3段目・プロペラタイプ・レンジフードクリーニング
.service-4th{
  position: relative;
}
// 「詳細を見る」ボタン
.bt-more-service-4th{
  position: absolute;
  top: 530px;
  right: 16.5%;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    width: 85%;
    top: 850px;
    right: 35px;  
  }  
}

// 4段目・ファンタイプ・レンジフードクリーニング
.service-3rd{
  position: relative;
}
// 「詳細を見る」ボタン
.bt-more-service-3rd{
  position: absolute;
  top: 530px;
  right: 16.5%;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    width: 85%;
    top: 850px;
    right: 35px;  
  }  
}

// 5段目・キッチンクリーニング
.service-5th{
  position: relative;
}
// 「詳細を見る」ボタン
.bt-more-service-5th{
  position: absolute;
  top: 530px;
  right: 16.5%;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    width: 85%;
    top: 850px;
    right: 35px;  
  }  
}

// 6段目・トイレクリーニング
.service-6th{
  position: relative;
}
// 「詳細を見る」ボタン
.bt-more-service-6th{
  position: absolute;
  top: 530px;
  right: 16.5%;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    width: 85%;
    top: 850px;
    right: 35px;  
  }  
}

// 7段目・洗面所クリーニング
.service-7th-indivisual{
  position: relative;
}
// 「詳細を見る」ボタン
.bt-more-service-7th{
  position: absolute;
  top: 530px;
  right: 16.5%;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    width: 85%;
    top: 850px;
    right: 35px;  
  }  
}

// 8段目・窓・サッシクリーニング
.service-8th{
  position: relative;
}
// 「詳細を見る」ボタン
.bt-more-service-8th{
  position: absolute;
  top: 530px;
  right: 16.5%;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    width: 85%;
    top: 850px;
    right: 35px;  
  }    
}

// 9段目・玄関クリーニング
.service-9th{
  position: relative;
}
// 「詳細を見る」ボタン
.bt-more-service-9th{
  position: absolute;
  top: 530px;
  right: 16.5%;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    width: 85%;
    top: 850px;
    right: 35px;  
  }    
}

// PC用画像
.service-09-photo{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 200px auto;

  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }
}

// スマホ用画像
.service-09-photo-sp{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
    margin: 100px auto;
  }
}

// 10段目・ベランダクリーニング
.service-10th{
  position: relative;
}
// 「詳細を見る」ボタン
.bt-more-service-10th{
  position: absolute;
  top: 530px;
  right: 16.5%;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    width: 85%;
    top: 850px;
    right: 35px;  
  }    
}

// PC用画像
.service-10-photo{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 200px auto;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    display: none;
  }
}

// SP用画像
.service-10-photo-sp{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
    margin: 100px auto;
  }
}

// 11段目・インターネット設定
.service-11th{
  position: relative;
}
// 「詳細を見る」ボタン
.bt-more-service-11th{
  position: absolute;
  top: 530px;
  right: 16.5%;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    width: 85%;
    top: 850px;
    right: 35px;  
  }    
}

// PC用画像
.service-11-photo{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 200px auto;

  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }
}

// スマホ用画像
.service-11-photo-sp{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
    margin: 100px auto;
  }
}
// at-home.htmlここまで


// at-home-02.html（浴室クリーニング）ここから
// セット割のご案内
.service-set{
  padding-left: 16%;
  padding-right: 16%;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    padding-left: 4.7%;
    padding-right: 4.7%;
  }
}
// タイトル
.set-title{
  margin-top: 75px;
  margin-bottom: 35px;
}

// 左右の要素
.left-and-right{
  display: flex;
  margin: 0 auto;
}

// 詳細を見るボタン
.bt-more-set{
  margin-top: 35px;

  // スマホレイアウト
  @media screen and (max-width: 768px){
    display: block;
    width: 100%;
    
  }
}

// 右の要素
.set-right{
  padding-left: 6%;
}

.set-01, .set-02, .set-03, .set-04, .set-05{
  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }
}

.set-plan-sp{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
    margin: 100px auto;
  }
}
// at-home-02.html（浴室クリーニング）ここまで


// about.htmlここから
// 名前＋顔写真（PC用）
.name-and-photo-pc{
  // スマホレイアウトのときには非表示
  @media screen and (max-width: 768px){
    display: none;
  }
}

// 名前＋顔写真（SP用）
.name-and-photo-sp{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
  }
}

// 地図＋営業エリア名
.area-photo-01{
  width: 100%;

  // スマホレイアウトのときには非表示にする
  @media screen and (max-width: 768px){
    display: none;
  }
}

// スマホ用地図＋営業エリア名
.area-photo-01-sp{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
  }
}
// about.htmlここまで
